<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face recognition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container mt-5">
        <section id="upload-section" class="mb-5">
          <div class="d-flex justify-content-between">
              <div>
                <h2>Face recognition</h2>
                <form id="js-form-upload" >
                    <div id="js-preloader" style="display: none;">
                      <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                        <span class="visually-hidden">Downloads...</span>
                      </div>
                    </div>
                    {% include "includes/_input_engines.html.j2" %}
                    <div class="mb-3 mt-4">
                      <input class="form-control" id="js-input-file" type="file" id="fileInput">
                    </div>
                    <div id="js-error" style="display: none;" class="alert alert-danger" role="alert">
                    </div>
                </form>
              </div>
              <div>
                <div id="js-original-image" class="{{ '' if items|length > 0 else 'js-hide'}}">
                  <fieldset class="border rounded-3 p-3">
                    <legend class="float-none w-auto px-3">
                      <h2>Original image</h2>
                    </legend>
                    <span class="" style="display: block;">
                      <img src="{{ items[0]['original_image'] if items|length > 0 else ''}}" alt="">
                    </span>
                  </fieldset>
                </div>
              </div>
              <div>
                <a href="/history" class="btn btn-primary">History</a>
              </div>
          </div>
            
        </section>
        <section id="results-section">
          <fieldset class="border rounded-3 p-3">
            <legend class="float-none w-auto px-3">
              <h2>Results</h2>
            </legend>
            <div class="row row-cols-1 row-cols-md-5 g-4" id="js-list-items">
              {% with items=items %}
                  {% include "includes/_list_items_cards.html.j2" %}
              {% endwith %}
            </div>
          </fieldset>
        </section>
    </div>
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='query.min.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>